[2018-04-09 06:25] jfernal opened #1 "How i can use it??"
Hello, can you help me to install it?, i think that is good tool.

[2018-04-09 06:36] RavishaHesh commented on #1
You can find the instructions from [https://github.com/RavishaHesh/PDFJsAnnotations/blob/master/index.html](https://github.com/RavishaHesh/PDFJsAnnotations/blob/master/index.html) and [https://github.com/RavishaHesh/PDFJsAnnotations/blob/master/script.js](https://github.com/RavishaHesh/PDFJsAnnotations/blob/master/script.js) if you need further assistance feel free to contact me

[2018-04-10 04:36] RavishaHesh commented on #1
It's not possible on the current version. But you can add a text with a color

[2018-04-21 15:09] #1 closed

[2019-02-05 12:12] nazmulpro opened #2 "select pdf text"
Is it possible to select pdf text and change color ?
Thanks

[2019-02-05 15:03] RavishaHesh commented on #2
No, it's not possible right now, this will convert the pdf page into an image, so it can't detect the text on images

[2019-02-05 15:48] nazmulpro commented on #2
OK Thanks :)

[2019-02-05 15:48] #2 closed

[2019-03-29 09:12] jinuem opened #3 "Is it possible to Add Draw Rectangle with border alone feature to annotate?"
Is it possible to Add Draw Rectangle with border alone feature to annotate?

So User can click Rectangle icon and
select the text or image to marked inside rectangle to annotate.

[2019-03-29 10:17] webiknows opened #4 "Want to highlight text"
Sir your code is wonderful and thanks,just wanted a feature to highlight text can you help please

[2019-03-29 16:01] RavishaHesh commented on #4
I'll try to add as soon as possible, but if it's urgent I have used fabric js for drawings. you can use [Polygon](http://fabricjs.com/docs/fabric.Polygon.html) for highlighting with low opacity color.

[2019-03-29 16:03] RavishaHesh commented on #3
No it's not possible, because the final output is a PDF file with images of the pages with annotations(text or drawings)

[2019-03-30 13:49] jinuem commented on #3
@RavishaHesh  thanks for replying.
What i meant was, like text or drawing. can we draw a rectangle to annotation and get the JSON object of it.?

[2019-03-30 14:43] RavishaHesh commented on #3
Sorry, I misunderstood your question. Rectangle tool does not support in current version. But I'm planning to rewrite the library soon(probably within this weekend  🤞) with few features and I'm planning to add rectangle tool too.

[2019-04-01 05:01] jinuem commented on #3
@RavishaHesh Wow. Thanks. I am waiting. :)

[2019-04-02 05:27] jinuem commented on #3
@RavishaHesh  any update on the Rectangle?

[2019-04-02 16:31] RavishaHesh commented on #3
Sorry @jinuem it seems new version needs more time than I planned, I'm trying to add the text layer and it's littlebit tricky, but I'll try to add rectangle feature to the current version within next two days.

[2019-04-03 05:08] jinuem commented on #3
@RavishaHesh  Thanks man. :) Awaiting for that ..

[2019-04-03 17:23] RavishaHesh commented on #3
@jinuem Added rectangle tool to the master branch

[2019-04-03 17:23] #3 closed

[2019-04-03 17:25] RavishaHesh commented on #4
@webiknows I Just added rectangle tool to the master branch. you can use it for highlighting with low opacity fill color(i.e. `rgba(255,0,0,0.3)`)

[2019-04-03 17:25] #4 closed

[2019-04-09 15:23] Splashdown opened #5 "Hello and thank you"
Hi Sir,

This is exactly what i need in my current project. !! Awesome.
I got a vue js and laravel stack, this is a great inspiration source to help to do what i need.

Thank you for this, i will take a look in the future if i can help you :)

[2019-04-11 15:21] RavishaHesh commented on #5
@Splashdown  You are welcome and thank you very much.
I haven't had time to work on this for a while. But I planning to add some features specially the text layer, so if you want to contribute to this project, welcome aboard!

[2019-04-11 15:21] #5 closed

[2019-05-28 05:09] Ketan-Infyom opened #6 "how to get annotations in json"
How to get `json` object of all the annotations done by me in the pdf file.

[2019-05-28 09:50] #6 closed

[2019-05-28 12:42] Ketan-Infyom opened #7 "Can i free draw rectangle?"
Right now, rectangle can be drawn with static width and height. is it possible to freely draw rectangle with any height and width in current version?

[2019-05-28 14:07] Splashdown commented on #7
Hey @Ketan-Infyom Im not a contributors but its not possible to draw a free rectangle with this version.
However you can click on the rectangle tools, click on the generated rectangle (on the top left), and resize him :)

Hope this help !

[2019-05-28 16:12] RavishaHesh commented on #7
Thanks @Splashdown, @Ketan-Infyom As he said you can resize using edges to any size

[2019-05-29 06:00] Ketan-Infyom commented on #7
Thanks @Splashdown. Spe. thanks to @RavishaHesh for creating such a tool.
@RavishaHesh do you have any plan to add such a feature(s)?

[2019-05-29 10:21] RavishaHesh commented on #7
Not on current "to-do" list. My entire focus is to implement text layer for now because it's the biggest down-side of this package. I'm using [FabricJS](http://fabricjs.com/) for drawing. If you can find a way to free-draw a rectangle using that, I can it to this.

[2019-05-30 11:53] iamharshad opened #8 "Does I get edited annotations object while re-edit same pdf again?"
Hey, I want to know that, Is it possible to get edited annotation while editing the same pdf again?
And how can I go for that?

[2019-05-30 15:10] RavishaHesh commented on #8
Sorry @iamharshad I can't understand your question. Can you describe it with little-bit more details. If you want to change existing shape or text, you should be able to do that by simply clicking on the object

[2019-05-30 15:10] #7 closed

[2019-05-31 05:18] iamharshad commented on #8
Let I give you steps.
1. first of all I'm add annotations of shape or text on `test.pdf`
2. Now I'm saving that `test.pdf` and close
3. Now I reopen that `test.pdf` so can I get saved annotations and can I edit those annotations again?

[2019-05-31 09:22] Ketan-Infyom opened #9 "Serialize all canvas data into JSON and re-draw"
@RavishaHesh I want to Serialize all canvas data into JSON and re-draw, how can I achieve it?

Steps (for elaboration):
1) add annotations to pdf file
2) get all `annotations`
3) now save `pdf` file with `annotations` and close the project
4) now open that `pdf`, I want back those `annotations` and also need to change it.

Is this possible in this package? if yes how can I achieve it?

[2019-05-31 16:06] RavishaHesh commented on #9
Okay, I just added `loadFromJSON (serializedJsonData)` method. But haven't had enough time to test it properly, let me know if you run into any issues. Thanks

[2019-05-31 16:06] RavishaHesh commented on #8
@iamharshad see my answer on [Issue 9](https://github.com/RavishaHesh/PDFJsAnnotations/issues/9)

[2019-06-01 07:55] Ketan-Infyom commented on #9
@RavishaHesh Thanks,  It's working fine.

[2019-06-01 07:55] #9 closed

[2019-06-01 14:43] RavishaHesh commented on #8
@iamharshad I'm closing this issue, hope you got the answer

[2019-06-01 14:43] #8 closed

[2020-01-24 05:36] muralibobby35 opened #10 "freedraw event handlers"
Thanks for the script.

We are working on collaborative PDF annotations. I mean users can join from multiple devices and opens same PDF on their end. any one can draw on same PDF and that should be sync on other user side also.

for example two users opened one PDF and one user chosen pencil and doing free-draw on canvas. then on first user moving cursor we have to get those mouse points and will

[2020-01-24 15:10] RavishaHesh commented on #10
Hi, I'm bit busy these days, so don't have much time to work with this, however I have added callback on canvas(page) updated. It will return the old state of the page and new state.

[2020-01-25 02:55] muralibobby35 commented on #10
Thanks for your reply.

I will try as you suggested. I will get back to you soon.

 Really thanks for your help.

On Fri, Jan 24, 2020, 8:40 PM Ravisha Heshan <notifications@github.com>
wrote:

[2020-01-25 03:02] muralibobby35 commented on #10
Is it possible to do get mouse  points while doing the freedraw? I mean on
mousemove method. So in this case i will send coordinates and update it
opposite side also.

On Fri, Jan 24, 2020, 8:40 PM Ravisha Heshan <notifications@github.com>
wrote:

[2020-01-25 14:51] RavishaHesh commented on #10
yes it is possible. So what this does is convert PDF pages into fabric js canvases(canvas per page). these fabricJS canvas objects are stored in an array with (page number - 1). so by modifying the library little bit you will be able to capture the mouse movements

[2020-01-25 15:00] muralibobby35 commented on #10
Could you please give me know how can I modify  those events.definately i
will share with you after successful outcome.

Please let me know

On Sat, Jan 25, 2020, 8:21 PM Ravisha Heshan <notifications@github.com>
wrote:

[2020-01-25 17:22] RavishaHesh commented on #10
You can bind events like [this ](https://github.com/RavishaHesh/PDFJsAnnotations/blob/979b9ae832c42f93225cb11ddceab029c728454f/pdfannotate.js#L65)
List of available events: [http://fabricjs.com/docs/fabric.Canvas.html](http://fabricjs.com/docs/fabric.Canvas.html)

[2020-01-27 12:59] muralibobby35 commented on #10
We have binded path:created event and sending last added object to opp user
and loading obj using below code

it is working fine now for small draw objects. if i draw bigger lines our
signal not allowing because of length exceed(8192 chars). so is it possible
to send each point value as an object?  i didnot find any event for point
create. could you please help on this.

How can i share my all fil

[2020-01-27 14:26] RavishaHesh commented on #10
you can capture those using `mouse:up` and `mouse:down`. But it'll make much harder to merge changes. Did you tried to send the whole object as chunks? (like in file uploads)

[2020-01-27 14:56] muralibobby35 commented on #10
I have sent it as chunks only. It is allowing 250 per chunk over all 30
chunks per signal. If i draw a continuous zigzag lines i am getting issue
with my signal.

On Mon, Jan 27, 2020, 7:56 PM Ravisha Heshan <notifications@github.com>
wrote:

[2020-01-29 09:18] muralibobby35 commented on #10
Hi RavishaHesh,
I am trying to add page number and unique id for each fabric obj. But not working. how can i add extra attributes? Please help.

[2020-01-29 09:45] muralibobby35 commented on #10
got it i have added like below.

[code]

[2020-01-29 11:11] muralibobby35 commented on #10
How can i add custom id to freedraw objects like above?

[2020-01-30 12:25] muralibobby35 commented on #10
could you please give me an idea..how can i add custom id to json object for freedraw pencil?

[2020-01-30 14:45] RavishaHesh commented on #10
To add an id
[code]

To include id in JSON modify `serializePdf ` method
[code]

[2020-01-31 08:50] muralibobby35 commented on #10
Thanks ravishaHesh,

along with opt.path.id i have added below code. then it worked for me.

[code]

[2020-01-31 09:02] muralibobby35 commented on #10
I am trying to add arrowline to opposite user using object. But fabricobj.add returning error
if(objects[i].type=='lineArrow'){
var klass = fabric.util.getKlass(objects[i].type);
console.log("klass")
					console.log(klass)
					console.log("objects[i]");
					console.log(objects[i]);
					console.log("klass.fromObject(objects[i])")
					console.log(klass.fromObject(objects[i]))
fabricObj.add(klas

[2020-02-04 12:43] muralibobby35 commented on #10
**touch** events are not working on this so i have updated fabric js version to 3.6. suddenly kclass.fromObject returning undefined.

kclass.fromobject returning undefined. but objects[i] has data.

var klass = fabric.util.getKlass(objects[i].type);
console.log(klass.fromObject(objects[i]));  //returning undefined on 3.6.1
fabricObj.add(klass.fromObject(objects[i]));
could you please let me know h

[2020-02-04 14:45] RavishaHesh commented on #10
Have you tried `fabricObj.add(objects[i])` instead of trying to re-create the same object?

[2020-02-05 05:10] muralibobby35 commented on #10
I have tried but getting same issue. Here is the screen shot. please check once. Of course  this is not related to your script . your script is working fine for one end but using this object we are creating the same for other user also. in this case we are getting this issue.

![image](https://user-images.githubusercontent.com/1498671/73812607-5cf6c780-4803-11ea-98ed-7db7e31e30fc.png)
![image](htt

[2020-02-05 06:44] muralibobby35 commented on #10
please you can check here my code.
version 1.7.22 fabricjs
https://jsfiddle.net/hnsdvkqg/

version 3.6.1

https://jsfiddle.net/kphebdgx/

[2020-02-05 07:19] RavishaHesh commented on #10
Try this [https://jsfiddle.net/cy37htoa/1/](https://jsfiddle.net/cy37htoa/1/)
Taken from [https://stackoverflow.com/questions/19361971/deserialize-a-json-object-in-fabric-js](https://stackoverflow.com/questions/19361971/deserialize-a-json-object-in-fabric-js)

[2020-02-05 07:22] muralibobby35 commented on #10
thank you so much.

[2020-02-11 05:15] muralibobby35 commented on #10
Hi,
Is it possible to show owner name as tooltip to paths? I mean on hover on path , have to show name tooltip.

[2020-03-24 15:35] glen2023 opened #11 "New features"
Hi Ravisha,

This is a great work, thank you.

Would it be difficult to add few more features that pdf.js already supports like:
-print support,
-zoo in, out buttons,
-adjusting to screen width
-full screen mode
-jumping to particular page
-thumbnails

Thank you,

-Glen

[2020-03-25 02:22] vavicheth opened #12 "Problem with view pdf file"
Hi sir!
Thank you so much for this package.
I'm a starter in a web developer (Laravel).
I have 1 problem with view pdf. I got a popup to download instead of preview pdf in dev.
My code in script:
var pdf = new PDFAnnotate('pdf-container', '{{asset('pdf/test.pdf')}}');

How can I implement this?
Thank you for
![image](https://user-images.githubusercontent.com/33587125/77494609-bdf06280-6e78-11ea-9b

[2020-03-25 02:48] vavicheth commented on #1
Hi sir!
It doesn't work for me.

[2020-03-25 03:37] RavishaHesh commented on #11
Should be easier to add these features. Since I haven't updated libraries in a long time, first I'll do that. I'll let you know once I done that

[2020-03-25 03:40] RavishaHesh commented on #12
Hmmm, Do you see any errors in the console?

[2020-03-25 05:46] vavicheth commented on #12
Here is error console:

![image](https://user-images.githubusercontent.com/33587125/77505671-67921c80-6e96-11ea-88bf-4424fd3ae41c.png)

[2020-03-25 06:35] vavicheth commented on #12
Here's my code:
[code]

[2020-03-25 12:02] RavishaHesh commented on #12
What's the response when you enter http://127.0.0.1:8000/pdf.pdf into the address bar?

[2020-03-25 13:44] vavicheth commented on #12
It shows Not Found.

[2020-03-25 14:42] RavishaHesh commented on #12
So why are you trying to open PDF file that doesn't exists?

[2020-03-25 14:44] vavicheth commented on #12
For http://127.0.0.1:8000/pdf.pdf , I have found error and fix. Cause I wrote the double script code. Finally, It have error in console:

![image](https://user-images.githubusercontent.com/33587125/77548919-c4ff8b00-6ee1-11ea-9971-d43a725c48f9.png)

[2020-03-25 15:09] RavishaHesh commented on #12
OK, I'm going to close this issue then, Happy coding!

[2020-03-25 15:09] #12 closed

[2020-03-25 15:10] vavicheth commented on #12
Thank you so much for share this package and fix issue. Good luck!

[2020-03-26 04:26] crackedurheart007 opened #13 "Save to server side"
It's great package!

How to save to server side from PDFJsAnnotations?

[2020-03-26 12:29] RavishaHesh commented on #13
You export and save the JSON
[code]

[2020-03-26 13:53] crackedurheart007 commented on #13
Sorry sir, I'm a student.
How to convert JSON to pdf file?

[2020-03-26 16:59] RavishaHesh commented on #13
When you open PDF file from this plugin, it converts PDF pages into images into images and render those images into [FabricJS](http://fabricjs.com/) canvases. that's how you were able to draw things on top of the PDF. When you serialize those [canvases](http://fabricjs.com/docs/fabric.Canvas.html#toJSON) it will convert those images to base64 format and outputs a JSON with all annotations. So when

[2020-03-27 01:20] crackedurheart007 commented on #13
Thank you so much for detail information and guideline.

[2020-03-30 20:07] pgschr opened #14 "Do you have an example to display/annotate the PDF in Angular?"

[2020-03-31 05:11] RavishaHesh commented on #14
Actually I developed this initially for a angular project, but unfortunately I don't have a example

[2020-04-19 00:10] hichamhargal commented on #13
I think that he want to upload the final pdf as a file on the server.
if it's what you want, you can do it with ajax after rendering with doc.output() instead of doc.save().

to do so, in script.js add the function:

[code]

then, add in pdfannotate.js the function:

[code]

finally, change the button in index.html to point to the new function:

`<button class="btn btn-light btn-sm" onclick="saveP

[2020-04-21 00:16] crackedurheart007 commented on #13
@hichamhargal Thank you so much. It's working. But when I access from tablet (iPad), it crop my document and big file size. Do you have solution?

[2020-04-21 17:31] hichamhargal commented on #13
that's because of the Retina scaling feature of Fabric.js. canvas is scaled by devicePixelRatio (it's 4 in my S9 for example) instead of 1 in the desktop. see [here](http://fabricjs.com/docs/fabric.Canvas.html#enableRetinaScaling).

so, concerning your issue, you have just to disable "enableRetinaScaling" attribute in the creation of the fabrice object.

in pdfannotate.js, change the function init

[2020-04-22 06:03] #10 closed

[2020-05-12 04:04] ArrNNG commented on #9
Hi,I having the same issues here.
How to use `loadFromJSON` ?
I put it on ` $(function () {}`,the `inst.fabricObjects`  's lenth is 0.
Did I use it wrong?

[2020-05-12 07:26] RavishaHesh commented on #9
As readme says you have to initialize plugin first

[2020-05-28 21:42] yannicklebras opened #16 "Touchscreen drawing"
Hi, thank you for this job.

For me it works great when using the trackpad of my laptop (chromebook Lenovo 500e). But using the touchscreen, free drawing and others don't work. When I draw a line with the touchscreen (finger or stylus) an object seems to be created since i can see it in the Annotation Data but it's "empty" (see above). When I switch to mobile emulation it doesn't work at all. If I

[2020-05-29 04:32] hichamhargal commented on #16
that's because of the "isTouchSupported" fabricjs's function. in the version 1.7.22 of Fabric.js used here it's like this :
`
fabric.isTouchSupported = 'ontouchstart' in fabric.window;
`
which returns false for any browser installed on the laptop even if it's with a touchscreen (Toshiba Protege in my case).

in the latest stable version for example, the 3.6.3, this function is modified to be like

[2020-05-29 06:12] yannicklebras commented on #16
Yes it helps, problem solved.
Thank you !

[2020-05-29 06:12] #16 closed

[2020-05-29 19:01] RavishaHesh commented on #13
@crackedurheart007 hope above answer fixed your issue. I'm gonna close this for now. Feel free to re-open if you need

[2020-05-29 19:01] #13 closed

[2020-05-29 21:09] hichamhargal commented on #11
Hi @RavishaHesh, I can contribute on this new features if you want.

[2020-05-30 09:24] RavishaHesh commented on #11
@hichamhargal I'm bit busy until July so that would be great.  thanks

[2020-07-06 05:13] muralibobby35 opened #17 "How to enable draw initially"
After loading the page by default how to enable draw mode instead of enableselector? i tried to trigger pencil() but not working.

[2020-07-06 13:17] RavishaHesh commented on #17
Actually to that in the correct way I have to add a callback function option to the library so once all the pages get rendered it can call to the callback function Since this is not implemented for now what you can do is, after initialization add a setTimeout for 1 second and call  enablePencil method inside that
[code]

[2020-07-06 14:17] muralibobby35 commented on #17
Thanks,
How to disable pdf for user? even not select tool also?

[2020-07-08 07:28] muralibobby35 commented on #17
Please let me know how to disable all actions on pdf? Actually i have to enable pdf actions through signal. So before viewer has only view mode.

[2020-07-13 15:43] softtechinfo2020 commented on #11
Any one can please help to implement below features/Issue,
Issue:
1.)loaded file size is 50 KB and after loading page without doing any annotation just generating a PDF from jsPDF results in a 12 MB (!) sized file. (Pdf file size too big created using jspdf)

Features:
-zoom In/Out and thumbnails

Please help this
Thanks...

[2020-10-16 13:55] abhimanusharma opened #18 "Is it possible to load saved annotations?"
Hi,

I saw a *loadFromJSON* already exists but I tried to use it and it won't work. I am getting configurations from *serializePdf* function and tried to load it into the loadFromJson before **inst.initFabric()** call.

I wanted to load prev state of of annotation last added by user, which can be editable and new annotation can be added as permission given to the user.

[2020-10-16 17:33] RavishaHesh commented on #18
Hey! There was an issue in that functions which made it impossible load JSON at page load. I've always checked that function with AJAX. That's why I haven't found that issue until now.
I have added `ready` option which get called after the plugin initialization(PDFJs workers takes little bit of time to render the pages). You use that function to load JSON on page load like this

[code]

[2020-10-17 12:13] abhimanusharma commented on #18
Is this function on master branch or develop branch?

Actually i have removed jQuery completely and converted whole functionality with vanilla Javascript.

[2020-10-17 19:55] RavishaHesh commented on #18
it's on master

[2020-10-20 05:12] abhimanusharma opened #19 "Question: Can npm package to make it available to use in existing projects?"
Hi,

Can we remove jQuery completely from this project and make it as a plugin/ npm package to use it inside other project?

Such as, `npm install pdfjs-annotation`

I am already trying to do something like this, by using this package in my vuejs project.

Let me known if it is possible.

[2020-10-20 12:32] abhimanusharma commented on #18
@RavishaHesh Please check the option again,

[code]

In above example, `pdf.loadFromJSON(<json>)` pdf is not yet defined.

I have tried this, My main file
[code]
ERROR: docConf is not defined

Then,
[code]
ERROR: app.js:21113 Uncaught (in promise) TypeError: Cannot read property 'loadFromJSON' of undefined

annotatepdf.js file is

[code]
Tried to change
[code]

Even than its not working. Can you p

[2020-10-20 17:31] RavishaHesh commented on #18
Actually above error occurs because you have binding the `pdf` variable to the current context. The context inside the callback function is different to the script's context
If you really want to bind your variable to the context you can use something like
[code]

[2020-10-20 17:58] RavishaHesh commented on #19
Honestly I don't have a plan to add this version to the NPM registry because code base is bit messy since I have written this in my early days as a software developer. There's a work in progress code base in dev branch which I'm planning to deploy to the NPM registry. I'm trying to add text rendering feature to that as well since that is the major drawback of this version. Unfortunately I haven't

[2020-10-21 04:20] abhimanusharma commented on #19
I have implemented this plugin with vuejs successfully, only thing I am struggling with is storing the annotation state (JSON) in database and then load it later.

I am working on a private project so unable to share video of what I am trying to achieve to give you the clear picture, if you could provide me your email, I will share more information with you there.

[2020-10-24 16:08] RavishaHesh commented on #18
Hope I have answered your issue. Feel free to re-open if you need further clarifications

[2020-10-24 16:08] #18 closed

[2020-10-24 16:17] RavishaHesh commented on #19
Can you create a  jsFiddle with the function that you are trying to implement. No need for the exact logic. piece of code to give the basic idea of your implementation

[2020-11-02 10:20] abhimanusharma opened #20 "Load document url dynamically"
Hi,

I am trying to implement this package with Vuejs, I am successfully integrated it and all features are working as expected. Now only thing I'm struggling with is when, I try to load pdf document dynamically, it show blank space, because initially document load on mounted,

[code]

when I try to change the value of this.url dynamically, pdf document won't update. What could be the workaround?

[2020-11-02 12:47] RavishaHesh commented on #20
It's not possible to load a different PDF by just changing the URL. To load a different PDF you have to re-initialize the plugin because there's a worker process behind that

[2020-11-02 13:13] abhimanusharma commented on #20
Yeah, I did the same thing on the go. Called a method that initialize the plugin every time user select a new document to work with.
Thanks.

[2020-11-02 13:13] #20 closed

[2020-11-08 05:07] gruelas16 opened #21 "Error with new PDFJS"
with the new release of PDFJS it does not work, can you hel me with the updated example using PDF JS lastest?

[2020-11-08 07:36] gruelas16 commented on #20
@abhimanusharma  im having the same error, could you share how you did it? or @RavishaHesh  can you post an example of how re-initialize the plugin?

[2020-11-09 15:12] muralibobby35 opened #22 "How to get draw mode events"
is it possible to get events while drawing with pencil on pdf canvas?

I have to restrict pencil if flag is enabled.

[2020-11-18 04:54] abhimanusharma opened #23 "How to add date field or textbox field on pdf"
Hi,

Can we enhance this package so that we can drag/drop a text field or a date field on the pdf document?

Similar functionality exists on a platform called dotloop.

[2020-12-01 10:07] abhimanusharma opened #24 "Background is removed if image is added on canvas object (fabricObj.add(img))"
@RavishaHesh

Whenever  try to add image (even static one), the pdf background removed and image will be added on a white background on that canvas.

At first I thought it was an issue in fabric js, that we can not add an Image over a canvas having background image or it will remove the background, but now I have an jsfiddle https://jsfiddle.net/abhimanusharma/2hektx49/24/ where a image is added o

[2020-12-24 11:09] abhimanusharma commented on #24
@RavishaHesh Please look into this issue. Thanks

[2020-12-26 16:06] comcorba opened #25 "Question ? Usage of latest version of fabric and pdf"
Hello,
I have two points.  I modified the codes to support latest libraries of pdfjs and fabric

Fabric gives error   : Error loading data:, fabric.min.js:1:871 and it doesn't show pdf. Do you have plan to use latest versions of js libraries?

Second point is that : the pdf on the screen is not sharp and  blur. How does  resolution of pdf can be improved.

var pdfjsLib = window['pdfjs-dist/build/p

[2020-12-26 21:09] RavishaHesh commented on #25
@comcorba I have updated PDFJs, FabricJS and jsPDF plugins to the latest versions. Not sure about the blurry issue. Can you attach a screenshot?

[2020-12-26 21:30] RavishaHesh commented on #24
@abhimanusharma I have added support for this option in the latest version. Please check

[2020-12-26 21:30] #24 closed

[2020-12-26 21:33] RavishaHesh commented on #23
Sorry. This doesn't support for that kind of features since this is an Annotations library.

[2020-12-26 21:36] #21 closed

[2020-12-26 21:39] RavishaHesh commented on #19
Hope you have manged to find a solution your issue. Feel free to open again if you have further questions

[2020-12-26 21:39] #19 closed

[2020-12-26 21:39] #23 closed

[2020-12-26 21:40] #14 closed

[2020-12-26 21:40] #17 closed

[2020-12-26 21:45] RavishaHesh commented on #22
should be able to get points using mouse events of canvas http://fabricjs.com/docs/fabric.Canvas.html

[2020-12-26 21:49] RavishaHesh commented on #11
@softtechinfo2020 it's because it uses uncompressed images of pages when saving the new PDF. it's possible to set compression level in jsPDF with jpeg images. I'll add that feature ASAP. Thanks for the suggestion

[2020-12-27 09:41] comcorba commented on #25
Hello RavishaHesh,

Thanks for prompt return and update of source code. it works with the pdf you shared. on the other side,  let me list down some issues  i came across. Maybe these are not directly related to your library  but your inputs will be appreciated.

**1-Sample pdfs are not being displayed and error comes.**

"Object { message: "Missing PDF \"http://localhost:9090/helloworld/html_test/

[2020-12-27 09:42] comcorba commented on #25
let me add sample pdf one more time
[sample.pdf](https://github.com/RavishaHesh/PDFJsAnnotations/files/5744349/sample.pdf)

[2020-12-27 14:40] RavishaHesh commented on #25
"Missing PDF "http://localhost:9090/helloworld/html_test/sample.pdf\" means that PDFJS can't find the pdf in given URL. paste this link to the address bar of the browser and check if it works

[2020-12-27 15:19] comcorba commented on #25
somehow browsers keeps caching the page caused me mistake. now i can see sample pdf coming. i see that there is still problem on the saving part.

[2020-12-27 16:41] RavishaHesh commented on #25
@comcorba can you check with the latest update.

[2020-12-27 17:55] comcorba commented on #25
Thanks. the last update solved the problem. I think the big problem is here that generated pdf/saved one's quality is really not very good. i see  that rendered output to browser from pdfjs's doesn't come  that great. i attached the both.  i think it is better to use an other library on the backed and send fabric  objects to backend system to generate an other pdf by using original pdf and  receiv

[2020-12-27 18:10] RavishaHesh commented on #25
The main reason for that quality issue is because output PDF doesn't have the text layer. It's just a set of images. I'm trying to fix this in the next version with text layer but since PDFJS doesn't have a proper documentation it's bit time consuming. For now try setting `scale` to `1` and `pageImageCompression` to `NONE` which will render un-compressed PNG images. But the file size will be much

[2020-12-27 18:10] #25 closed

[2020-12-28 04:24] abhimanusharma commented on #24
@RavishaHesh This doesn't solve my purpose as I want to add Image from url. I am using vue-signature-pad to add an image on the canvas. Please add a support to add an image from url as well. Adding image from url is removing background.

[2020-12-28 05:34] RavishaHesh commented on #24
@abhimanusharma in that case you have to do little bit of a modification by yourself. add a URL parameter to `addImageToCanvas ` and set `image.src` in 184 to that parameter

[2020-12-28 09:02] abhimanusharma commented on #24
This is adding image on top:0 left:0 position but I need to add image on specific coordinate on mouseclick event. As shown in the codesandbox with option selectable:false, so that can not change the position of the image.

[2020-12-30 05:52] abhimanusharma commented on #24
@RavishaHesh  The problem still persist if I add image on click on canvas.

[2021-01-11 12:01] helmyfikrih opened #27 "Save pdf to server side with ajax or else"
is it possible to save drawed file to server side? maybe it's using ajax or else to store edited pdf to server?

[2021-01-11 12:10] RavishaHesh commented on #27
I guess you want to send PDF file via ajax right? Right now library only supports to save PDF as a JSON or download PDF. but with little-bit of tinkering you should be able get jsPDF instance. the line you need to modify is 232 `doc.save(fileName);` and this with this [method](http://raw.githack.com/MrRio/jsPDF/master/docs/jsPDF.html#output) you should be able to get a blob

[2021-01-11 13:04] helmyfikrih commented on #27
I'm done with this
change

`doc.save(fileName);`

with

`var pdf = btoa(doc.output());
      $.ajax({
        method: "POST",
        url: "test.php",
        data: { data: pdf },
      }).done(function (data) {});
`

thanks sir. your library help me. And I thing need improvement bcs I found some bugs with event listener.

[2021-01-11 13:23] RavishaHesh commented on #27
You are welcome. I'm glad I was able to help.
Yeah I know there are some bug since this a 3years old code-base. I'm working on a new version with text layer support since that's the biggest issue with. But with my higher studies I don't have enough time to work on these until around April.
I'm gonna close this one. Feel free to open again if you have further queries.

[2021-01-11 13:23] #27 closed

[2021-01-12 09:51] abhimanusharma commented on #24
@RavishaHesh Can this feature be enhanced to make it add image on the clicked position?

[2021-01-28 12:41] zeecorleone opened #28 "Save generated file to desired location instead of downloading"
currently when we call `savePdf`, it calls `doc.save(fileName)`. This eventually writes the files to the response. _i.e, the file is downloaded_. Which is cool. But what if I want to save the generated/edited file to some xyz location on server? I'm getting hard time in understanding if I could get hold of some stream that I can write somewhere, or to pass it to an API, etc.

there is a method `do

[2021-01-28 12:42] zeecorleone commented on #28
@RavishaHesh

[2021-01-28 15:35] RavishaHesh commented on #28
You should be able to get an idea from this https://github.com/RavishaHesh/PDFJsAnnotations/issues/27#issuecomment-757938421
Please do let me know i you need further assistance

[2021-01-29 06:19] zeecorleone commented on #28
@RavishaHesh , great, that will help ! .. One more similar question, is it anyway possible to write the changes to the same document where it is loading from?

[2021-01-29 09:34] RavishaHesh commented on #28
No it's not possible and also not recommended. Because output of this lib is a PDF file with set of images as pages which will remove the text layer of the PDF

[2021-01-31 09:11] zeecorleone commented on #28
Thanks.

[2021-01-31 09:11] #28 closed

[2021-02-02 11:34] abhimanusharma opened #29 "add image on the clicked position"
I need to store the image position also in the database, as per new version image adding feature is there but it will be added on 0,0 position. I don't want user to change its position so I want the image to be added in  a fixed position and save that position in the db to load it later.

[2021-02-02 14:15] RavishaHesh commented on #29
You can customize [line 185](https://github.com/RavishaHesh/PDFJsAnnotations/blob/cb4131d865b981a8599138b7bd89bbf580ea845d/pdfannotate.js#L185) according to this http://fabricjs.com/fabric-intro-part-1#images

[2021-02-22 14:52] deepakbairwa opened #30 "make responsive to display in any size"
I'm using your PDFJsAnnotations code for edit and save pdf... but i want to make responsive to display in any size... you are using full size but this code not working on responsive with other size... please let me know if any one have this solution...

[2021-02-24 18:08] RavishaHesh commented on #30
Styles in [this](https://github.com/RavishaHesh/PDFJsAnnotations/blob/master/styles.css) files are just sample styles that I used for the example. Plugin it self seems to work on mobile screen sizes.
![Capture](https://user-images.githubusercontent.com/6573956/109045132-3ac73480-76f9-11eb-9c70-3002ac408522.JPG)

[2021-03-14 15:08] unikuam opened #31 "How to implement Zoom"
I used this library in a React project. I am trying to implement zoom but it seems like that it is not possible through pdfjslib so I tried with zoom css but then annotation does not work properly. Any help will be appreciated. Thanks in advance.

[2021-04-01 07:00] abhimanusharma commented on #24
@RavishaHesh I tried to modify the addImageToCanvas function to add image dynamically but it is not working tried many methods as suggested by you.

[code]

[2021-04-07 12:22] zeecorleone opened #32 "Loading file from blob"
Currently I pass the file's URL to **PDFAnnotate** method in order to load it for edit. After making some changes, we can hit save. We can get the updated file's blob by using something like following, on Save button:
[code]

My question is, how can I initialize this file again in order to add some more changes? Remember, I did not post/write it on server as yet. I just did: _doc.output('blob')_

[2021-04-07 12:29] abhimanusharma commented on #32
@zeecorleone  Check @RavishaHesh 's answer to #9

[2021-04-07 12:41] zeecorleone commented on #32
@abhimanusharma , thanks. But that solution is allows to load from JSON, not blob. Because when I want to write the files on server, I should have at least blobs ready for each edited files, so that I can send them to my server to write them as new PDF file. Can I do that with JSON?

[2021-04-07 12:51] RavishaHesh commented on #32
@zeecorleone when you generate the PDF you can't edit that again because it's just a document which have set of full page images.
What you can do is, when you save the blob save json separately with that. Then you can load back that when you want to edit the PDF again

[2021-04-07 14:24] zeecorleone commented on #32
@RavishaHesh seems good suggestion. Thank you

[2021-04-08 19:15] RavishaHesh commented on #31
sorry for the late reply, if you are still looking for a solution, rather than trying to zoom PDF try to zoom the canvas, each page get rendered into separate canvases. you should be able to scale the canvas

[2021-04-09 05:03] zeecorleone commented on #32
I'm having issue when loading annotations back from json data. Can you see if I'm missing something? What I'm doing is

1. Before closing file, I save it's serialized json by calling `serializePdf` method of `pdfannotate.js`
`var fileJsonData = pdf.serializePdf();`
this returns stringified and saves that in `fileJsonData` like:
![image](https://user-images.githubusercontent.com/9975195/114129941-f

[2021-04-09 05:20] abhimanusharma commented on #31
I like this idea, Can we change the value of scale variable to make zoom (+/-) dynamic?

[2021-04-09 05:25] RavishaHesh commented on #32
Based on your explanation I guess you have tried this with a single page PDF file. This is a bug and I'll fix it ASAP. As a workaround you can wrap the json object before passing into load.
Thanks for reporting

[2021-04-09 05:44] RavishaHesh commented on #31
Yes

[2021-04-09 05:45] abhimanusharma commented on #32
@RavishaHesh  I tested this with single page pdf but this is working fine at my end in all cases.

[2021-04-09 06:04] zeecorleone commented on #32
the pdf I'm using is multiple pages. Let me attach for you what I use:
[pdf.pdf](https://github.com/RavishaHesh/PDFJsAnnotations/files/6283463/pdf.pdf)

Secondly, is your JsonData parameter is string type, like mine? and also does it have first character as "["?

[2021-04-09 06:15] abhimanusharma commented on #32
@zeecorleone
Before loading the annotation I am converting it from string to json as it is an array of objects converted in a string.
`this.annotation = JSON.parse(response.data.annotations);`

Then,
[code]

[2021-04-09 06:28] zeecorleone commented on #32
@abhimanusharma , thanks for nice suggestion. previously I had added that in pdfannotate.js like this:
![image](https://user-images.githubusercontent.com/9975195/114138058-7f640380-9926-11eb-87b5-85a2577b7f19.png)

Now I have moved this check inside `ready` callback.

Thanks guys. Closing the issue.

[2021-04-09 06:28] #32 closed

[2021-04-14 06:09] abhimanusharma commented on #29
Closing this issue, as this might be fixed automatically after updating the package and its dependencies.

[2021-04-14 06:09] #29 closed

[2021-04-14 06:11] abhimanusharma commented on #23
I implemented this in my project using this package, if anyone is trying something similar then let me know.

[2021-04-14 06:20] abhimanusharma commented on #20
@gruelas16 Here is how I am updating the document url dynamically.

[code]

then call this function whenever I need to change the url.

[code]

[2021-04-14 06:40] abhimanusharma opened #33 "Change fabricObj's property dynamically during loadFromJSON"
I am trying to achieve something like this,

[code]

to stop a user to change the position of iText object or anyother fabric object. In case of item like iText object user should be able to update the text value but not move or scale the object.

I also tried this but now object is still moving.
[code]

[2021-04-18 12:07] clodion commented on #11
Hi! what a great work, congratulations.

I have found the perfect complementary code for your code, which could answer the problem of softechinfo2020 : https://github.com/highkite

This librairy saves the annotations in an adobe format, so the pdf still remains light and is not saved as an image for each page. Do you think that a merge of those 2 librairies could be possible to have a very very gr

[2021-04-18 13:37] RavishaHesh commented on #11
@clodion it's possible. even with my current implementation it's possible to add the text layer because Firefox does that when opening a PDF. but in order to do that, to render the text layer on top of the canvas perfectly I need to spend some time to study the documentation of PDFJs which I don't have until around August due to my higher studies. I planning to re-write the entire code with ES6 an

[2021-04-19 06:48] vavicheth opened #34 "File after annotate is bigger (x4)"
Thank you for your great package.
I have a problem with size after annotation.
Do you have a solution for optimizing after annotate?

[2021-04-19 16:51] RavishaHesh commented on #34
Try setting this to "Fast" https://github.com/RavishaHesh/PDFJsAnnotations/blob/cb4131d865b981a8599138b7bd89bbf580ea845d/script.js#L9

[2021-04-19 17:28] RavishaHesh commented on #34
Scaling is similar to zoom function, but `pageImageCompression` sets the compression level of images of each page.

[2021-05-03 06:39] abhimanusharma commented on #33
@RavishaHesh any solution for this?

[2021-05-22 12:47] hudeaki opened #35 "howto save and upload to server"
howto i can save and upload to server

[2021-05-23 07:42] RavishaHesh commented on #35
You should be able to get an idea from these issues

[2021-05-23 14:38] hudeaki commented on #35
thank you

[2021-05-27 02:26] thirumith commented on #11
@RavishaHesh This is really awesome pdf annotation library 👍 and we would like to add some more annotation like text highlighting, text underline etc. Any idea how to start work on it.  happy to work with you if you are comfortable

[2021-05-27 06:37] RavishaHesh commented on #11
@thirumith this package uses features of the FabricJS library. so almost all the features that FabricJS have including custom plugins implemented by the community(ex: the [arrow](https://github.com/RavishaHesh/PDFJsAnnotations/blob/master/arrow.fabric.js) function that I've added to this is a custom plugin) should be able to implement on top of this. for text manipulation you should be able to use

[2021-05-31 20:43] vicmutish opened #36 "How to add image on pdf load"
I would liek to add an image in the pdf load rather than selecting from the add image button. Is this possible and if yes, how can i do this?

[2021-06-01 06:33] abhimanusharma commented on #36
@vicmutish  Please refer #29 I had fixed this by following the suggestion by Ravisha Hehsan in the comment.

[2021-07-04 06:18] mohdafzalansari opened #37 "How to render fillable PDF"
I have used this repository and working that I was looking for.
But I am facing issues when trying to render fillable PDF it is not rendered correctly means controls(textbox, radio button, etc) are not able to fillable.

Can help me with how can I achieve this feature.

[2021-07-04 14:52] RavishaHesh commented on #37
Unfortunately this library does not support some PDF features like form fields yet

![Capture](https://user-images.githubusercontent.com/6573956/124389609-99cf3280-dd05-11eb-85d1-59e36eb11967.PNG)

[2021-07-04 15:11] #35 closed

[2021-07-04 17:27] mohdafzalansari commented on #37
Thanks for your reply

[2021-07-04 17:27] #37 closed

[2021-07-12 13:41] davidhagen opened #38 "How to Insert text from drop down list"
It's a  great tool. Does any know how to insert a text from a drop-down list? Basically, in the toolbar, I would like to have a list of items and on click write the text in the cursor position or to the text box.

Any help or code snippet would be appreciated.

[2021-07-12 15:05] RavishaHesh commented on #38
I just pushed an [update](https://github.com/RavishaHesh/PDFJsAnnotations/commit/01a0e98e4362eac474080971393bf969e05d0e0a) pass default text to `enableAddText` function or change existing text using new `setDefaultTextForTextBox` function

[2021-07-13 08:56] davidhagen commented on #38
Thank you for the quick update.

[2021-07-14 03:22] luongdx189 opened #39 "cannot add text in mobile"
i tried the button 'Add text' on the phone(chrome browser) but it doesn't work. how to fix it

[2021-07-14 04:56] RavishaHesh commented on #39
With your own custom UI or from the example given in the repo?

[2021-07-14 06:47] luongdx189 commented on #39
i tried with the exam in repo.i tried successfully on pc but not on phone .have you tried it on your phone?

[2021-07-14 10:00] RavishaHesh commented on #39
That's a sample user interface. I made that to demo the features of this package and how to use them. I haven't put much effort to that design since the users are going to use their own UI components with the package. So I only tested to this on a desktop. Thank you for letting me know that it doesn't work on mobile devices.

[2021-08-01 07:34] thanhdien0208 opened #40 "How do I upload another pdf file from the toolbar interface?"
Thank you for this amazing plugin.
How do I upload another pdf file from the toolbar interface?
Can you help me.
Thanks!

[2021-08-01 12:05] RavishaHesh commented on #40
You have to do upload part by yourself, rest is exactly similar to the one in the demo file.. You can call plugin initialization method to initialize canvas. The toolbar in my HTML file is only to demonstrate functionalities. I strongly recommend you to use your own UI to control the functionalities of the plugin.

[2021-08-02 21:34] paglasoft opened #41 "Adding button signatre"
Hi Team,

Is it possible to add buttons and on clicking insert text or signature or image? Any thoughts would be great. We are trying to make our own DocuSign style pdf generator. Basically, add a button place holder and allow users to click on the button and add signature/image.

Thank you

[2021-08-03 02:35] RavishaHesh commented on #41
Try these approaches
https://github.com/RavishaHesh/PDFJsAnnotations/issues/29#issuecomment-771664147
https://github.com/RavishaHesh/PDFJsAnnotations/issues/38#issuecomment-878355224

[2021-08-04 16:30] abhimanusharma commented on #41
I have implemented the digital signature on my pdf using #29

[2021-08-26 07:22] netmastan opened #42 "Saved pdf squashed"
Hi, I noticed when I save the pdf it looks squashed - text and images. Does anyone have this issue?

[2021-08-28 11:02] #42 closed

[2021-08-28 11:39] RavishaHesh commented on #40
Closing due to inactivity. Feel free to open again if you have any further questions

[2021-08-28 11:39] #40 closed

[2021-08-28 11:39] RavishaHesh commented on #39
Closing due to inactivity. Feel free to open again if you have any further questions

[2021-08-28 11:39] #39 closed

[2021-08-28 11:39] RavishaHesh commented on #38
Closing due to inactivity. Feel free to open again if you have any further questions

[2021-08-28 11:39] #38 closed

[2021-08-28 11:39] RavishaHesh commented on #36
Closing due to inactivity. Feel free to open again if you have any further questions

[2021-08-28 11:39] #36 closed

[2021-08-28 11:43] RavishaHesh commented on #33
@abhimanusharma if you still need a solution for this let me know

[2021-08-28 11:43] RavishaHesh commented on #31
Closing due to inactivity. Feel free to open again if you have any further questions

[2021-08-28 11:43] #31 closed

[2021-08-28 11:44] RavishaHesh commented on #30
Closing due to inactivity. Feel free to open again if you have any further questions

[2021-08-28 11:44] #30 closed

[2021-08-28 11:44] RavishaHesh commented on #22
Closing due to inactivity. Feel free to open again if you have any further questions

[2021-08-28 11:44] #22 closed

[2021-08-28 11:46] davidhagen opened #43 "Example of loading Json file"
Hi, although it has code for loading Json file but I have not seen how to use it. Example one shows loading pdf. I want to load canvas and objects from saved json data.  Thank you.

[2021-08-28 14:08] RavishaHesh commented on #43
pdf.loadFromJSON(serializedJSON) // continue edit with saved JSON. To do this on page load use `ready` option(scripts.js line 5)
[code]
hope this answers your question

[2021-08-28 23:17] davidhagen commented on #43
Thank you. I noticed the JSON file has a background.  What I thought JSON file has complete things to draw something in the canvas including pages..background etc. So why do we need to use PDF files (new PDFAnnotate("pdf-container", "pdf.pdf")?

I assume we have two options either load everything from JSON file or load from PDF.  As per this example, we are loading PDF and JSON files. Will it not

[2021-08-29 12:28] RavishaHesh commented on #43
Good catch! I didn't think about that before. I think it's better to load the PDF and render annotations on top of that. I'll push a fix for that ASAP. Thank you very much for bringing this up

[2021-08-29 13:41] davidhagen commented on #43
Thank you for your hard work.  For PDF loading, is it possible load objects only without the background from JSON file ?  Basically,  I am saving JSON data in a database without the background since it’s huge. So load backgrounds from pdf but  objects from JSON file.

Thank you again.

[2021-08-29 14:28] RavishaHesh commented on #43
Yes, that's what I'm planning to do.

[2021-08-29 17:09] RavishaHesh commented on #43
@davidhagen I've updated master with a fix. Please note that `serializePdf` function now requires to pass a callback function as first argument

[2021-08-29 23:11] ghost commented on #43
Thank @RavishaHesh.

When we load the JSON file the PDF background disappears we only see objects. I think we should add the PDF background when we loop through the JSON file or make sure when read through the JSON file it ignore the background.

Thank you again .. well deserve

[2021-08-29 23:50] ghost commented on #43
Since I have one page PDF ugly way I'm doing this -
when we loop through PDF pages and add background I assign inst.background=background
then when loading from JSON I add the background
[code]

[2021-08-30 02:26] RavishaHesh commented on #43
That's strange. I've tested it before pushing to the master branch. Can you check the example in the repo? Please let me know if you can replicate the same behavior on that as well. Thanks
BTW I did saw that behavior on as soon as I've updated the code but after hard reload I wasn't able to re-produce that

[2021-08-30 04:19] hichamhargal commented on #34
Try [this solution ](https://github.com/RavishaHesh/PDFJsAnnotations/issues/13#issuecomment-617305428)

[2021-09-06 12:06] ghost commented on #43
@RavishaHesh, is it possible to improve the image quality and text that pdf.js generate? Basically, the canvas/image is not clear as the original PDF.

[2021-09-18 07:29] #43 closed

[2021-10-18 07:31] dumparun opened #44 "Using Pencil, causes the drawing to jump off the screen"
Reporting an issue regarding usage of pencil.
If pencil is used with brush size 1, then it works perfectly fine.
However, when the brush size is increased to 5 size, the drawing using pencil jumps of the screen.
Seems like the layer which it uses proportionally gets increased by the brush size.

This happens on some machines and not on all machines on browsers.
Can be reproduced on

MAC OS, Chrome

[2021-10-18 09:52] RavishaHesh commented on #44
@dumparun thanks for reporting. I'll fix it as soon as possible

[2021-10-19 02:02] str opened #45 "Question about workflow"
So, I got to this project because we need an inhouse "DocuSign" alternative.  Let me see if I understood the workflow right:

Signing the document is a 2 steps process,  a user will be defining where the signature will be shown, and a 2nd user will be loading their signature in the document.  For this, the process would be:

Step 1, define the signature placeholder:
- load the PDF via `new PDFAnno

[2021-10-19 14:24] RavishaHesh commented on #45
You're correct. that's the abstract functionality of the DocuSign without the "Secure" part. Security comes with the [digital signature](https://searchsecurity.techtarget.com/definition/digital-signature) verification between two parties. However since it's a specific use case, this library doesn't support some of the features you need to implement that. For an example, rather than drawing a recta

[2021-10-28 05:52] dumparun commented on #44
Hi @RavishaHesh did you got a chance to look at this?

[2021-10-28 14:48] RavishaHesh commented on #44
Unfortunately I was busy with my exams last week. I'll try to fix it before end of this week

[2021-10-28 14:56] dumparun commented on #44
All the best for the exams.

Regards

Arun

From: Ravisha Heshan ***@***.***>
Reply to: RavishaHesh/PDFJsAnnotations ***@***.***>
Date: Thursday, 28 October 2021 at 8:18 PM
To: RavishaHesh/PDFJsAnnotations ***@***.***>
Cc: Arun Kumar ***@***.***>, Mention ***@***.***>
Subject: Re: [RavishaHesh/PDFJsAnnotations] Using Pencil, causes the drawing to jump off the screen (Issue #44)

Unfortunately I wa

[2021-10-28 17:35] RavishaHesh commented on #44
@dumparun Thanks.
I've just pushed a fix. Please let me know if it works

[2021-11-03 13:20] dumparun commented on #44
Thank you.
Shall check and let you know

[2021-11-06 11:34] netmastan opened #46 "Adding undo feature and Add text doesn't work in iPad"
Hi, is it possible to add undo feature? It will be a great add-on.

And also I noticed Add text doesn't work on iPad.

Thanks for your great tool

[2021-11-08 04:05] dumparun commented on #44
Confirming that this works. Closing the issue

[2021-11-08 04:05] #44 closed, assigned to nobody

[2021-11-08 05:28] RavishaHesh commented on #46
It's possible to add undo/redo feature by storing all elements in an array. I'll try to add it. I'll look into the iPad issue as well.

[2021-11-08 05:45] netmastan commented on #46
Thank you, Sir. If you click outside the canvas area(close to any edges) you get the text box but when you click on the canvas you don't the text box. You get the error "Intervention] Ignored attempt to cancel a touch start event with cancelable=false, for example, because scrolling is in progress and cannot be interrupted."

You can't also touch the canvas to pull up and down on iPad and iPhone.

[2021-11-08 23:54] jesesqui commented on #46
It is possible that the button to add text works like the one to add rectangle, since it does not work for me on iPad either.

Thanks for your great tool (x2)

[2021-11-09 00:18] jesesqui commented on #46
I force scroll like this:

css

.scroll {
    width: 1000px;
    height: 1200px;
    background-color: #ccc;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
}

js
$(".scroll").hover(function() {
  var oldScrollPos = $(window).scrollTop();

  $(window).on('scroll.scrolldisabler', function(event) {
    $(window).scrollTop(oldScrollPos);
    event.preventDefault();
  });
}, fun

[2021-11-18 00:16] jesesqui commented on #46
I changed this functions lines in fabric.min.js

line 4792
function() {
    var r = fabric.util.addListener,
        n = fabric.util.removeListener,
        s = {
            passive: !0 /*de 1 a 0*/
        };

line 4907
_onTouchStart: function(t) {
            //t.preventDefault(), /*disable*/

line 4950
_onMouseMove: function(t) {
           //!this.allowTouchScrolling && t.preventDefault && t.

[2021-11-23 19:28] jesesqui commented on #46
its posible add placerholder to itextboxs generated

[2021-11-23 19:29] jesesqui opened #47 "placeholder"
its posible add placerholder to itextboxs generated

[2021-11-24 04:17] RavishaHesh commented on #46
Placeholder means? A default value?

[2021-11-24 15:48] jesesqui commented on #46
the text which show before starting write and hide when write something.
The short hint is displayed in the input field before the user enters a value.
like this image.
<img width="851" alt="Captura de Pantalla 2021-11-24 a la(s) 9 46 43" src="https://user-images.githubusercontent.com/19599305/143270504-06dd3603-2cc4-4585-87aa-bfd3d3747812.png">

[2021-12-09 09:11] kalana85 commented on #34
Now pdf files save as an image. (Image inside pdf file). Can we make save it as normal pdf. (I mean as selectable text format. Not images in pdf).?

[2021-12-09 15:54] RavishaHesh commented on #34
@kalana85 It's possible but requires little bit of time to go through the documentations and stuff. I've started to work on that and haven't had time to work on that for last few months. You can find it in the dev branch. Last time I worked on that I was stuck in something related to the fonts.

[2021-12-22 06:37] sahil-binekar opened #48 "can you suggest or add a zoomIn and zoomOut on pdf viewed"
it would be really great if this project have a zoomIn and zoomOut feature because pdf.js already have that functionality.
I tried to implement by increasing and decreasing scale value, but i just don't know how to receive the value in var PDFannotation >> option.
Rest the project is amazing

[2021-12-27 11:37] bzxgcs commented on #48
Yes, I hope the toolbar of pdf.js could be retained, too.

[2021-12-27 11:40] bzxgcs commented on #34
If it is difficult, could you save annotation data in a single file? Then we can add annotation to pdf by other backend(such as python).

[2022-01-06 10:53] Goddard opened #50 "Get real PDF coordinates"
I think this solution is great nice work.

The main problem I am currently facing is translating the annotation coordinates to actual PDF coordinates.  Do you know the solution to this?

I have something like this viewport.convertToPdfPoint(fabricObjectItem.top, fabricObjectItem.left)

But I think this is not correct.

[2022-01-06 18:57] RavishaHesh commented on #50
Can you describe your issue in little more detail? annotation positions are relative to the top left corner of each canvas(page)

[2022-01-06 19:01] Goddard commented on #50
The PDF's real coordinates if I wanted to write the PDF are not the canvas PDF.

The canvas starts at the top left corner, but the PDF's coordinates start in the bottom right.

https://www.pdfscripting.com/public/PDF-Page-Coordinates.cfm#UserSpace

[2022-01-07 10:06] Goddard commented on #50
Basically, you can't always use front end serialization of documents.  You need to also include a solution so the backend which can do things in a more secure environment can properly write the annotations permanently after the user has marked the document.

I believe the pdf.js developers knew this and incldued a helper function, but I am unsure if it would be useful in this situation.
`viewport.

[2022-01-07 16:21] RavishaHesh commented on #50
Okay, now I understand your requirement. I don't have a way to do this right now. I'll do a little bit of research and get back to you. I believe point conversion needs to be done using fabric.js rather than the PDF viewer(ex: after setting page size and other settings).

[2022-01-07 16:30] Goddard commented on #50
Yeah you are right.  You might need to get the entire page rectangle and subtract the size from the x or y before converting?  I don't know.

[2022-01-07 21:20] RavishaHesh commented on #50
X values seem okay. but you have to recalculate Y values with page height.
Fabric.js
![fabric](https://user-images.githubusercontent.com/6573956/148608535-349a81bf-f13a-40c7-90e9-d6d11b4abc88.jpg)
Pdf.js
![pdf](https://user-images.githubusercontent.com/6573956/148608542-d43a5e1f-f9ec-4f4c-b339-6cd31af2621f.jpg)

[2022-01-08 13:51] Goddard commented on #50
Awesome mock up.  So with those understandings you think that is all it takes to successfully write the PDF?

[2022-01-08 17:53] RavishaHesh commented on #50
Honestly, I can't confirm without testing it properly. But I'm a bit busy these days with my work and studies. I believe this can be use as a starting point

[2022-01-11 06:18] Insua opened #51 "The output pdf file is not vector file but a bitmap file"
can make it orginal pdf file?

[2022-01-11 16:11] RavishaHesh commented on #51
Sorry, It's not possible with the current version. A few months ago I've started to to rewrite the library with that feature but haven't been able to work on that since then due to lack of time because of studies and work stuff

[2022-01-13 11:48] Goddard commented on #50
For anyone curious I have finished testing and here are the things you need to take into account.
Margins - personally I just set this to 0 when writing any thing I drew from the canvas.
PDF Scale - the scale is calculated from the pdf width and height.

For the testing I did at least with this PHP library on the x axis it was divided by 210.  For the y scale it was divided by 299.
So 210 / $pdfWi

[2022-01-13 11:48] #50 closed, assigned to nobody

[2022-01-15 19:19] Kreijstal opened #52 "add as a extension?"
so you can use it as default?

[2022-01-16 13:29] RavishaHesh commented on #52
I'm sorry I can't understand your question. Can you elaborate on this a little more?

[2022-01-17 08:11] janlord01 commented on #46
any update on this? Thanks

[2022-01-17 08:20] janlord01 commented on #23
please share it here. Thanks :)

[2022-01-17 08:45] RavishaHesh commented on #46
I don't see any options in fabric.js itself to provide placeholders http://fabricjs.com/docs/fabric.Textbox.html#Textbox
but this might be able to implement using a custom click handler. But since it has resize handlers click handler might override that function

[2022-01-17 09:06] janlord01 opened #53 "pdf.loadFromJSON(serializedJSON) not working"
Tried to load pdf.loadFromJSON(serializedJSON) but its not working. Any help please? Thanks

[2022-01-17 09:55] RavishaHesh commented on #53
Are there any errors in the browser's dev tool console? like JSON parse errors

[2022-01-17 10:00] janlord01 commented on #53
no errors on ready(), but when I console log it, it outputs undefined.

[2022-01-21 01:41] Kreijstal commented on #52
@RavishaHesh so that you can use it on the browser, to use this on any pdf

[2022-01-21 04:52] RavishaHesh commented on #52
Oh! You want to use this as a browser extension right? No, unfortunately, it's not possible with the current version.

[2022-01-31 13:12] str commented on #45
Hi @RavishaHesh

After your reply, I had to change priorities, but I now have time to continue with this integration. I'm having issues with the `pdf.enableRectangle()` part. It does nothing on my end.

How do I add a new rectangle? Or should I use  `pdf.loadFromJSON()`?

[2022-01-31 16:20] RavishaHesh commented on #45
@str in [this](https://github.com/RavishaHesh/PDFJsAnnotations/commit/24904db4021d506ed410dc79e53bc18cfcdf4e7b) commit I have changed `enableRectangle` little bit. Instead of inserting a rectangle when clicked on the tool I've changed it to insert into the clicked position of the canvas

[2022-01-31 18:33] str commented on #45
@RavishaHesh I see it now. BUT now, the functionality stays ON. So, if I click the PDF again, another black rectangle pops up.  If I try to move or resize the rectangle, because I click the PDF again, it adds another rectangle.

[2022-01-31 19:22] str commented on #53
@janlord01 could you please paste your code to better understand your issue?

[2022-02-01 04:20] RavishaHesh commented on #45
Yes. I tried to generalize the function since the text box also uses that model. You have to click the selector tool again if you don't want to draw another rectangle.

[2022-02-01 15:54] str commented on #45
@RavishaHesh but how do you know that the rectangle has already been placed?  I have a button that says  "addd signature placeholder".

[code]
The user tries to draw a rectangle, to place the placeholder but instead, nothing happnes on click, but a black square is placed on mouse-release.

The user can try to resize the square, but when releasing the mouse to finish resizing the square, another sq

[2022-02-02 00:52] jesesqui commented on #48
// add in index.html
[code]
//add in script.js
[code]
//add in style.css
[code]

[2022-02-02 01:02] jesesqui opened #54 "Send mail"
it could be shared or sent by mail instead of saving?

[2022-02-02 04:52] RavishaHesh commented on #54
you should be able to get an idea from this issue https://github.com/RavishaHesh/PDFJsAnnotations/issues/27

[2022-02-02 04:58] RavishaHesh commented on #45
in your use case, since you don't have to keep the rectangle tool after drawing the first one, change https://github.com/RavishaHesh/PDFJsAnnotations/blob/master/pdfannotate.js a little bit and call `inst.enableSelector()` after [this](https://github.com/RavishaHesh/PDFJsAnnotations/blob/1b4946b095a713c7b7eda792b955b0deafc788e2/pdfannotate.js#L135) line

[2022-02-02 12:37] str commented on #45
@RavishaHesh I ended calling the enableSelector() onPageUpdated, as it's the call back that triggers after the rectangle is set, like this:

[code]

Thank you for your work and your patience.

[2022-02-02 12:37] #45 closed, assigned to nobody

[2022-02-02 18:08] RavishaHesh commented on #47
@jesesqui check this answer which is bit similar to your issue https://github.com/RavishaHesh/PDFJsAnnotations/issues/45#issuecomment-946778186

[2022-03-01 00:37] jesesqui opened #55 "localstorage"
I'm trying to do an autosave with localstorage and it works assigning the key and the value like this:
var  pdf = new PDFAnnotate("pdf-container", "my_document.pdf", {
   onPageUpdated(page, oldData, newData) {
localStorage.setItem(page, JSON.stringify(newData));
     console.log("page "+ page, oldData, newData);
},
and then with a button to load the localstoage but this last one without success,

[2022-03-02 11:34] fewbackseven commented on #34
The issue still persists even after disabling retinascaling in pdfannotate.js
The file gets 4 times bigger and the quality is lost.
.
.
Let me know if there are any other solution for this issue?
thanks

[2022-03-02 11:45] fewbackseven commented on #34
did anyone find the solution?

[2022-03-02 12:24] fewbackseven commented on #34
Yes.. The solution here worked for me.
After disabling the Retinascaling, Assigning Imagecompression to 'FAST', I restricted the page size to A4 while saving the pdf.
Please refer below code..

PDFAnnotate.prototype.savePdf = function (fileName) {
    debugger;
    var inst = this;
  //var format = inst.format || 'a4';
    var format = 'a4';                   //<------------ Restricted the page si

[2022-03-02 21:44] jesesqui commented on #27
where put the var pdf=...., can I see your example? THX

[2022-03-09 16:51] jesesqui commented on #9
can I see your code/example?

[2022-03-09 17:18] jesesqui commented on #33
me, I need a solution for this, THX

[2022-03-30 16:29] khaledmndev commented on #53
i'm having an issue while retrieving json data from the storage after parsing it

here's my code:
[code]

any solution?

[2022-03-30 17:05] str commented on #53
@khaledmndev and can you post your data1 value?

[2022-03-30 17:17] khaledmndev commented on #53
sure, i used console.log(data1) if you that i you wanted:

here's a link for the value stored in a txt file, since the value and size is too big (sorry can't paste it here):
[https://mega.nz/file/q9ZmxRZb#qJPj3mB8MQzG34UWf53zPRbO960XsdVnRdS9RzluGeY](https://mega.nz/file/q9ZmxRZb#qJPj3mB8MQzG34UWf53zPRbO960XsdVnRdS9RzluGeY)

[2022-03-30 17:22] str commented on #53
@khaledmndev and what error message do you get?

[2022-03-30 17:23] khaledmndev commented on #53
Uncaught (in promise) SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>)
    at i.loadFromJSON (fabric.min.js:1:131008)
    at i.<anonymous> (pdfannotate.js:286:14)
    at Function.each (jquery.min.js:2:2976)
    at PDFAnnotate.loadFromJSON (pdfannotate.js:284:4)
    at Object.ready (script.js:15:13)
    at HTMLCanvasElement.<anonymous> (pdfannotate.js:87:13)
    at Function

[2022-03-30 17:26] khaledmndev commented on #53
@str
Uncaught (in promise) SyntaxError: Unexpected end of JSON input
at JSON.parse ()
at i.loadFromJSON (fabric.min.js:1:131008)
at i. (pdfannotate.js:286:14)
at Function.each (jquery.min.js:2:2976)
at PDFAnnotate.loadFromJSON (pdfannotate.js:284:4)
at Object.ready (script.js:15:13)
at HTMLCanvasElement. (pdfannotate.js:87:13)
at Function.each (jquery.min.js:2:2976)
at S.fn.init.each (jquery.min.j

[2022-03-30 17:27] str commented on #53
@khaledmndev as you can see, the error says it was not able to parse the JSON value (1.5MB string length). It may be because of the length of the background fields in the canvas.  I  suggest you to try without the backgrounds

If you still get any errors, I suggest you to open a new issue with that error message.

[2022-03-30 17:43] khaledmndev commented on #53
@str still no luck i've tried with only drawing with pen!
i'll open a new issue..

by the way i tried pasting the json value data into pdf.loadFromJSON("here"), and it worked!
thanks for helping anyways :)

[2022-03-30 17:45] khaledmndev opened #56 "Uncaught (in promise) SyntaxError: Unexpected end of JSON input"
i'm having an issue while retrieving json data from the storage after parsing it

here's my code:

[code]

Error:
[code]

and it's working perfectly when i manually paste the json data into `pdf.loadFromJSON([here])`

[2022-03-30 19:37] RavishaHesh commented on #56
I don't think `JSON.parse` is necessary if you save it in the local storage. can you try without it?

[2022-03-30 19:52] khaledmndev commented on #56
this one worked perfectly, thanks, just a question, is there anyway to integrate this with [dflipjs](https://dearflip.com/realistic-3d-flipbook-wordpress-plugin/) library? it also uses PDF.js

[2022-03-31 03:19] RavishaHesh commented on #56
it might be possible, but that's not going to be easy. you have hack into the plugin's code

[2022-03-31 08:22] khaledmndev commented on #56
@RavishaHesh alright thanks for helping me, but just one annoying question, is there a way to save the canvas without the psd images to json? To reduce the of the json output, this way i can load the psd file alone and import the canvas from the json..

[2022-04-01 15:15] #56 closed, assigned to nobody

[2022-04-01 15:17] khaledmndev opened #57 "save the canvas without the PDF pages as images"
is there a way to save the canvas without the PDF pages as images to json? To reduce the of the json output, this way i can load the PDF file alone and import the canvas from the json..

[2022-04-09 10:55] zeecorleone opened #58 "Set specific page number to view or scroll"
I have noticed that there is a  property `number_of_pages` available for `pdfannotate` instance. Is there a way I can set specific number of page to display, instead of showing from first page in viewer? Or if there could be some option like I click a button and it takes me to for example page number 10, etc.
I just need some information like where to look and begin. Any help would be appreciated.

[2022-04-14 18:16] khaledmndev opened #59 "displaying 2 pages instead of 1"
hello devs,

i'm trying to disable 2 pages instead of 1, but unfortunately i can't draw or see canvas layers anymore!
anyway to fix this?

[2022-04-16 09:41] zeecorleone opened #60 "Enable annotation layer (text and link)"
How can the annotation layer be enabled in pdf.js being used? When try something like following:

[code]

This won't work, as it will break at `PDFJS.Annotation.fromData(data)` because `PDFJS` is no more available from version 2.0 onwards.

**What I'm trying to do:**
My goal is to enable links in pdf. for example, there are some links that point to a specific page within the same pdf document. Cur

[2022-04-19 09:19] khaledmndev opened #61 "2 Pages View like a book"
Hello ,

i'm having an issue while trying to change the pages view,
any way to do a 2 pages view just like a book?

kindly anyone help with this it's urgent

best regards...

[2022-04-26 06:11] smokedrinking opened #62 "load or save pdf slow"
pdf file  about one hundred page ，load and save very slow  ，cant work
<img width="1098" alt="image" src="https://user-images.githubusercontent.com/52225525/165233218-5f7cba8f-e493-43e3-a795-3f0d6baf3e1e.png">

[2022-04-26 11:08] xor83 opened #63 "Saved PDF text is blurry"
I have tried many setting but still the saved pdf is blurry if zoomed. Can anyone have solution for this?

Thanks
[saved-test.pdf](https://github.com/RavishaHesh/PDFJsAnnotations/files/8562583/saved-test.pdf)
.

[2022-05-04 09:16] #63 closed, assigned to nobody

[2022-05-04 09:16] xor83 commented on #63
Get it

[2022-05-04 10:04] xor83 opened #64 "loadFromJSON loses backgroundImage"
If I add image type element in "sample_output.js" the background image of PDF is removed. Also, custom properties set to objects are lost when saving with serializePdf.

Any suggestion please.

[2022-05-23 16:37] jesesqui opened #66 "Memory canvas use exceeds the maximum limit (254mb)"
Memory canvas use exceeds the maximum limit (254mb) the  console show this messages when use it in iPad, anything recommendation for increase the limit, tks.
<img width="1247" alt="Captura de Pantalla 2022-05-20 a la(s) 14 53 48" src="https://user-images.githubusercontent.com/19599305/169866803-6bfae5e2-f7d2-4161-9752-65ed75957546.png">

[2022-05-24 01:52] RakeshYadvanshi commented on #62
can you upload pdf here so replicate the issue.

[2022-05-24 05:19] RavishaHesh commented on #66
It seems this is a Safari-specific issue and happens when holding canvas objects in variables. So might have to update the way that the library access canvas objects. Instead of taking them from `this.fabricObjects` variables when accessing a canvas object, accessing them with `document.querySelector` might fix the issue.

[2022-05-25 19:44] johnnyduncan commented on #51
Good job with the PDFJsAnnotations! @RavishaHesh
Do you have a working online demo?

[2022-06-19 18:23] groyk commented on #57
I think this is a great idea. This way it shoud be possible to save and reedit as well.

[2022-06-20 13:08] RavishaHesh commented on #57
Yes, that's a great idea. thanks for the suggestion. I'll try to add that as soon as possible. can't tell an exact date though

[2022-07-17 16:15] LibertyNLP commented on #66
I have figure out how add annotation using pdf.js. Demos: https://demos.libertynlp.com/#/pdfjs-annotation

[2022-07-17 16:15] LibertyNLP commented on #64
I have figure out how to add annotation using pdf.js. Demos: https://demos.libertynlp.com/#/pdfjs-annotation

[2022-07-18 10:11] LibertyNLP commented on #61
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ output annotations :

[2022-07-18 10:12] LibertyNLP commented on #60
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ output annotations :

[2022-07-18 10:12] LibertyNLP commented on #59
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ output annotations :

[2022-07-18 10:13] LibertyNLP commented on #58
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ output annotations :

[2022-07-18 10:14] LibertyNLP commented on #55
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ output annotations :

[2022-07-18 10:15] LibertyNLP commented on #54
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ output annotations :

[2022-07-18 10:16] LibertyNLP commented on #53
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ output annotations :

[2022-07-18 10:16] LibertyNLP commented on #52
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ output annotations :

[2022-07-18 10:17] LibertyNLP commented on #51
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ output annotations :

[2022-07-18 10:17] LibertyNLP commented on #48
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ output annotations :

[2022-07-18 10:18] LibertyNLP commented on #47
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ output annotations :

[2022-07-18 10:19] LibertyNLP commented on #46
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ output annotations :

[2022-07-18 10:19] LibertyNLP commented on #34
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ output annotations :

[2022-07-18 10:19] LibertyNLP commented on #33
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ output annotations :

[2022-07-18 10:20] LibertyNLP commented on #11
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ output annotations :

[2022-07-18 10:30] LibertyNLP commented on #62
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ edit: edit annotatio

[2022-07-19 12:40] zakk616 opened #67 "loading image from sample_output breaks background"
**I added rectangle on pdf, picked the json and replaced it in**
`var sampleOutput = {
    "page_setup": {
        "format": [
            612,
            792
        ],
        "orientation": "portrait"
    },
    "pages": [
        {
            "version": "4.3.0",
            "objects": [
                {
                    "type": "rect",
                    "version": "4.3.0",

[2022-07-20 11:29] zakk616 opened #68 "Arrow | Pencil Tool Glitch"
once you click on **Arrow** tool but don't use it, then click on **Pencil** tool.... and then draw somthing on pdf. an arrow along with pencil will be drawn as well.

[2022-07-22 07:15] hudeaki opened #69 "Can't Save PDF"
I use code fo insert image from url but can't save to pdf

PDFAnnotate.prototype.addImageToServer = function () {
	var inst = this;
	var canvas = inst.fabricObjects[inst.active_canvas]

fabric.util.loadImage('https://d1hdtc0tbqeghx.cloudfront.net/sites/536207e0e52e306190000002/theme/images/sd-laravel-icon.png', function(img) {
    if(img == null) {
        alert("Error!");
    }else {
        var

[2022-07-22 07:20] hudeaki commented on #69
Or this code insert image finish but can't save pdf

PDFAnnotate.prototype.addImageToServer = function () {
	var inst = this;
	var canvas = inst.fabricObjects[inst.active_canvas]

	fabric.Image.fromURL('https://d1hdtc0tbqeghx.cloudfront.net/sites/536207e0e52e306190000002/theme/images/sd-laravel-icon.png', function(oImg) {
  // scale image down, and flip it, before adding it onto canvas
  oImg.scal

[2022-07-27 08:55] LibertyNLP commented on #69
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ edit: edit annotatio

[2022-07-27 08:55] LibertyNLP commented on #68
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ edit: edit annotatio

[2022-07-27 08:56] LibertyNLP commented on #67
Hi , I wish my work can help you.
I have figured out a solution of pdf.js annotation, use only pdf.js dist, and it is very easy to import into your project.

Demo and source code: https://demos.libertynlp.com/#/pdfjs-annotation
Demo video:https://www.youtube.com/watch?v=IYD7WKzx-yc&t=3s

functions:
① highlight : highlight selected text;
② underline : underline selected text;
③ edit: edit annotatio

[2022-08-31 09:37] gagaltotal opened #70 "get the coordinates of x,y ?"
hey, can you help me?, is it possible to get the coordinates of x,y, is it possible?, I have an electronic signature project, so this api sends the coordinates of x,y to send where the signature is

[2022-09-14 23:40] jesesqui opened #71 "TEXT LAYER"
Is it possible to have better Quality of texts, something like this:

[[shorturl.at/kLMO4](https://apptrazojes2020.000webhostapp.com/jes_6_jul/JES_14SEP/viewer.html)](url)

<img width="1357" alt="Captura de Pantalla 2022-09-14 a la(s) 18 35 06" src="https://user-images.githubusercontent.com/19599305/190281099-aa7f5dbd-e51b-44cf-a266-6352355f125d.png">

[2022-09-15 00:55] ChaoxuWei commented on #71
where can I get this code?

[2022-09-15 05:02] jesesqui commented on #71
https://github.com/mozilla/pdf.js

[2022-09-19 14:56] nuriakman commented on #48
Where is setZoom function source code?

[2022-11-07 06:47] nuriakman opened #73 "add zoom in / zoom out buttons"
Thank you for your nice project!

I wish if you add zoom in / zoom out buttons on this project.

I tried to implement panzoom project https://github.com/timmywil/panzoom to this project, but I couldn't.

[2022-11-07 15:47] itajackass opened #74 "Add predefinited image to canvas"
Hi, is it possible to add a "predefinite" image to canvas using a button like addImageToCanvas("http:///www.demo.com/image.jpg") instead selecting it from PC?

[2022-11-08 09:51] itajackass opened #75 "return saved image as base64"
Is it possible to get a base64 string of file instead the file during click "savePDF"? I need to save file directly to server...

[2022-11-13 06:43] nuriakman commented on #11
@hichamhargal, There is nice solution to add panning and zooming functionality:  https://github.com/timmywil/panzoom

Can you implement this library?